<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="css1.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

	<div class="wrap">
		<header class="main-header">Gogo旅遊網
		  <nav class="main-nav">
				<a  href="test1.html"><span class="glyphicon glyphicon-home"></span>&nbsp;</a>
				<a  href="search.html">行程查詢</a>
				<a  href="#">行程預定</a>
				<a  href="search_order.html">訂單查詢</a>
				<a  href="#">會員管理</a>
			</nav>
		</header>
		<div class="content">
        	<div class="main1 col3">
				<div>
                      <div class="main1 col2">
                          <span><i class="fa fa-user-o"></i>&nbsp;詹姆士您好，您的訂單如下：</span>
                          <br/>
                          <span>訂單編號&nbsp;：2020031201</span>
                          <br/>
                          <span>[春櫻紛飛遊釜慶]世界文化遺產~佛國寺、CNN評選賞櫻推薦~余佐川羅曼史橋+慶和火車站、甘川洞彩繪壁畫村、BIFF廣場+南浦洞購物樂五日<含稅></span>
                          <br/>
                          <span>人&nbsp;&nbsp;&nbsp;&nbsp;數：&nbsp;成人：&nbsp;2人
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孩童：&nbsp;0人
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嬰兒：&nbsp;0人</span>
                          <br/>
                          <span>出發日：&nbsp;2020-08-18&nbsp;&nbsp;&nbsp;&nbsp;抵台日：&nbsp;2020-08-22 </span>
                          <br/>
                          <span>總&nbsp;&nbsp;&nbsp;&nbsp;價：NT：25,400元</span>                         
                       </div>
               </div>
    		</div>

            <div class="main1 col5 slider-header" style="text-align:center">
                  <span>
                  <button  style="width:50px">日本</button>&nbsp;&nbsp;
                  <button  style="width:55px">韓國</button>&nbsp;&nbsp;
                  <button  style="width:55px">新加坡</button>&nbsp;&nbsp;
                  <button  style="width:55px">菲律賓</button>&nbsp;&nbsp;
				  <button  style="width:68px">馬來西亞</button>&nbsp;&nbsp;
                  </span>
                  <br>
                  <span>
                  <button  style="width:50px">印尼</button>&nbsp;&nbsp;
                  <button  style="width:55px">泰國</button>&nbsp;&nbsp;    
                  <button  style="width:55px">西亞</button>&nbsp;&nbsp;
                  <button  style="width:55px">中南半</button>&nbsp;&nbsp;      
                  <button  style="width:68px">印度週邊</button>&nbsp;&nbsp;
                  </span>
                  <br>
                  <span>                  
                  <button  style="width:50px">美國</button>&nbsp;&nbsp;
                  <button  style="width:55px">夏威夷</button>&nbsp;&nbsp;
                  <button  style="width:55px">俄羅斯</button>&nbsp;&nbsp;
                  <button  style="width:55px">加拿大</button>&nbsp;&nbsp;
               	  <button  style="width:68px">馬爾地夫</button>&nbsp;&nbsp;
                  </span>
                  <br>
                  <span>                 
                  <button  style="width:50px">中歐</button>&nbsp;&nbsp;
                  <button  style="width:55px">西歐</button>&nbsp;&nbsp;
                  <button  style="width:55px">南歐</button>&nbsp;&nbsp; 
                  <button  style="width:55px">北歐</button>&nbsp;&nbsp;
                  <button  style="width:68px">東歐</button>&nbsp;&nbsp;
                  </span>
                  <br>
                  <span>
                  <button  style="width:50px">澳洲</button>&nbsp;&nbsp; 
                  <button  style="width:55px">非洲</button>&nbsp;&nbsp;                 
                  <button  style="width:55px">中美洲</button>&nbsp;&nbsp;
                  <button  style="width:55px">南美洲</button>&nbsp;&nbsp;
                  <button  style="width:68px">紐西蘭</button>&nbsp;&nbsp;
                  </span>
            </div>
		    <div class=" main col">
				<span><img class=" main col" src="Images/VDR0000003336.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【新視界假期】克羅埃西亞．斯洛文尼亞．匈牙利 三國饗宴12天</span>
		    </div>
	  		<div  class=" secondary col col">
				<span><img class=" main col" src="Images/VDR0000001255.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【波蘭、波羅的海三小國、俄羅斯】精彩12 日</span>
			</div>
			<div class="main  col col">
				<span><img class=" main col" src="Images/VDR0000005675.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【北歐波羅的海】暢遊五國、雙遊輪、全程無購物八日</span>
			</div>             
			<div class="secondary col">
				<span><img class=" main col" src="Images/VDR0000001914.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>星宿霧宇～資生堂島、薄荷島、與鯨共游、海邊二晚５天</span>                
			</div>

			<div class="main col">
				<span><img class=" main col" src="Images/VDR0000007686.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>馬達加斯加 猴麵包樹 夢幻生態天堂10天</span>
			</div>
			<div class="secondary col">
				<span><img class=" main col" src="Images/VDR0000004620.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【夏戀奧捷】國王湖•中世紀童話古鎮•布拉格三連泊•波希米亞五風味餐10天</span>
			</div>                                                   
		</div>
		<footer class="main-footer">
			Gogo旅遊網
		</footer>
	</div>
</body>
</html>
