<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="css1.css">
</head>
<body>

<!-- Sidebar/menu -->
<!--
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Company<br>Name</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Showcase</a> 
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Services</a> 
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Designers</a> 
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Packages</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
</nav>
-->

<!-- Top menu on small screens -->
<!--
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>
-->

	<div class="wrap">
		<header class="main-header">Gogo旅遊網
		  <nav class="main-nav">
				<a  href="test1.html"><span class="glyphicon glyphicon-home"></span>&nbsp;</a>
				<a  href="search.html">行程查詢</a>
				<a  href="#">行程預定</a>
				<a  href="search_order.html">訂單查詢</a>
				<a  href="#">會員管理</a>
			</nav>
		</header>
		<div class="content">
			<div class="main1 col">
			123	
		    </div>
            <div class="main1 col">
                        456
            </div>
		    <div class=" main col">
				<span><img class=" main col" src="Images/VDR0000003336.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【新視界假期】克羅埃西亞．斯洛文尼亞．匈牙利 三國饗宴12天</span>
		    </div>
	  		<div  class=" secondary col col">
				<span><img class=" main col" src="Images/VDR0000001255.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【波蘭、波羅的海三小國、俄羅斯】精彩12 日</span>
			</div>
			<div class="main  col col">
				<span><img class=" main col" src="Images/VDR0000005675.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【北歐波羅的海】暢遊五國、雙遊輪、全程無購物八日</span>
			</div>             
			<div class="secondary col">
				<span><img class=" main col" src="Images/VDR0000001914.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>星宿霧宇～資生堂島、薄荷島、與鯨共游、海邊二晚５天</span>                
			</div>

			<div class="main col">
				<span><img class=" main col" src="Images/VDR0000007686.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>馬達加斯加 猴麵包樹 夢幻生態天堂10天</span>
			</div>
			<div class="secondary col">
				<span><img class=" main col" src="Images/VDR0000004620.gif" style="width:100px;"  onclick="onClick(this)" alt="Concrete meets bricks"></span>
                <span>【夏戀奧捷】國王湖•中世紀童話古鎮•布拉格三連泊•波希米亞五風味餐10天</span>
			</div>                          
		</div>
		<footer class="main-footer">
			Gogo旅遊網
		</footer>
	</div>
</body>